<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|VT323" rel="stylesheet"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">John A. Hopper</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Technology</a>
                    </li>
                    
                    <li>
                        <a href="#projects">Projects</a>
                    </li>

                    <li>
                      <a href="#contact">Contact</a>


                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header id="header" class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Full Stack Web Developer</h1>
                <h2>UI Design | Front-End/Back-end Development</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            
                        <h2 class="featurette-heading">About</h2>
             
           
            <p class="lead"> I am a Full Stack Web Developer in Dallas, Texas. While studying for a B.A. in Anthropology at University of North Texas, I gained a true interest in computer science and software engineering.
                 After graduating in 2014, I decided to blend my passion for art and science by purusing software engineering & web development full-time at <a href="https://www.codingdojo.com">Coding Dojo</a>. I specialize in the design and construction of web applications: from conception to production. This includes creating mockups, building the server (local/cloud), hooking up synchronous databases, and design/programming for front-end interfaces...all while keeping in mind wonderful user experiences! I believe the web & software bring the world together with its capacity to connect people through challenging projects and collaboration of skills.</p>

               
               
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
          

            <h2 class="featurette-heading">Technology</h2>

               <table class="table table-hover">
               <tbody>
               <tr>
               <td>
              <img class="featurette-image img-responsive pull-left" src="assets/html.png" height="100" width="100">
              </td>
              <td>
                <img class="featurette-image img-responsive pull-left" src="assets/css.png" height="100" width="100">
                </td>
                <td>
                  <img class="featurette-image img-responsive pull-left" src="assets/jquery.png" height="100" width="200">
                  </div>
                  </td>
                  </tr>
                  <tr>
                  <td>
                   <img class="featurette-image img-responsive pull-left" src="assets/javascript.png" height="100" width="100">
                   </td>
                   <td>
                  <img class="featurette-image img-responsive pull-left" src="assets/nodejs.png" height="200" width="150">
                  </td>
                  <td>
                    <img class="featurette-image img-responsive pull-left" src="assets/express.png" height="100" width="200">
                    </td>


                  </tr>

                  <tr>
                  <td>
                   <img class="featurette-image img-responsive pull-left" src="assets/angularjs.jpeg" height="100" width="200">

                  </td>
                  <td>
                   <img class="featurette-image img-responsive pull-left" src="assets/rails.png" height="100" width="200">

                  </td>
                  <td>
                    <img class="featurette-image img-responsive pull-left" src="assets/mongodb.png" height="100" width="200">

                  </td>

                  <tr>
                  <td>
                  <img class="featurette-image img-responsive pull-left" src="assets/aws.png" height="100" width="200">

                  </td>
                  </tr>
                  </tr>


                  </tbody>
                  </table>

                  <div class="col-lg-12">
                    
                    </div>

                    <div class="col-lg-12">
                     
                       
                    
                          
                    </div>
           
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="projects">
       
            <h2 class="featurette-heading">Projects</h2>
            
                <table class="table table-hover">
            <tbody>
            <tr>
            <td><a href="https://github.com/jahopp23/user_management_system.githttps://github.com/jahopp23/user_management_system.git">User Management System</a></td>
            <td><img src="assets/users.png" width="500" height="220"></td>
            <td>Create, Add, and Edit Users to database. Made with Ruby on Rails 5, SQLite3, and Bootstrap</td>

            </tr>
            <tr>
            <td><a href="https://github.com/jahopp23/product_dashboard">Product Management System</a></td>
            <td><img src="assets/products.png" width="500" height="220"></td>
            <td>Create, Add, and Edit Products to database. Made with Ruby on Rails 5, SQLite3, and Bootstrap</td>

            </tr>
            <tr>
            <td><a href="https://github.com/jahopp23/SuperGroups">Community Group Application</a></td>
            <td><img src="assets/supergroups.png" width="400" height="300"></td>
            <td>After logging in, create custom community groups where other members can add themselves to group, and group is attached to an owner. Made with Ruby on Rails 5, SQLite3, and Bootstrap</td>

            </tr>
              <tr>
            <td><a href="https://github.com/jahopp23/imageportal">Image Posting and Sharing</a></td>
            <td><img src="assets/imageportal.png" width="400" height="200"></td>
            <td>Post artistic images. Currently being developed into "Art Portal" (full-fledged app with login, registration, and artistic posts to share).Made with Ruby on Rails 5, SQLite3, Bootstrap, and Paperclip</td>

            </tr>
              <tr>
            <td><a href="https://github.com/jahopp23/Angular_Event_Dashboard">Event Dashboard</a></td>
            <td><img src="assets/events.png" width="400" height="200"></td>
            <td>Post your Event to the page dashboard! Made with AngularJS, ExpressJS, and Mongoose</td>

            </tr>


            </tbody>
  
            </table>
        </div>
        <div class="featurette" id="contact">
         
           <h2 class="featurette-heading">Contact</h2>

           <ul>
          <li> <p class="lead"><a href="mailto:jahopp@gmail.com.com?Subject=HelloFromYourWebsite%" target="_top">Send Mail</a></p></li>
           <li><p class="lead"><a href="https://www.github.com/jahopp23">GitHub</a></p></li>
            <li> <p class="lead"><a href="https://www.linkedin.com/in/john-allen-hopper-874424aa?authType=name&authToken=87Ol">LinkedIn</a></p></li>
         </ul>


        </div>
        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; John A. Hopper 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
