<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rene Solano Mejia</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|VT323" rel="stylesheet"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div class="container">
    <div class="row">
 

    
       <h1><strong>Rene Solano Mejia</strong></h1>
      

  
    </div>
    
    <div class="link-row">
    <div class="col-lg-12">

      <ul>
		  <li><a href="#">Home</a></li>
		  <li><a href="#">About</a></li>
		  <li><a href="#">Graphics</a></li>
		  <li><a href="#">Paintings</a></li>
		  <li><a href="#">Commissions</a></li>
		  <li><a href="#">Contact/Request</a></li>
      </ul>
    </div>
    </div>

    <div class="pic-row">
      <div class="col-lg-12">

      <img class="img-fluid" src="assets/profile_pic.jpg" alt="Responsive Image">
   
      </div>
    </div>

    <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rene Solano Mejia 2017</p>
                    <p>Webmaster & Designer <a href="johnallenhopper.herokuapp.com">John A. Hopper</a></p>
                </div>
            </div>
        </footer>

  </div>
</body>
</html>